
<br>
<div class = "container">
	<div class = "">
	<!-- update -->
		<div ng-show = "resMessage.message" ng-class = "resMessage.getClass()" class = "resMessage">
			{{resMessage.message}}
		</div>
		<div class = "well">
			<label>My Account</label><br>
			<label class="label label-default">First Name</label>
			<input class = "form-control" type = "text" ng-model = "user.fName"/>
			<label class="label label-default">Last Name</label>
			<input class = "form-control" type = "text" ng-model = "user.lName"/>
			<label class="label label-default">Email</label>
			<input class = "form-control" type = "email" ng-model = "user.email"/>
			<label class="label label-default">New 
			Password</label>
			<input class = "form-control" type = "password" ng-model = "user.password"/>
			<label class="label label-default">Confirm Password</label>
			<input class = "form-control" type = "password" ng-model = "user.cPassword"/>

			<label class="label label-default">Calendar</label>
			<select class = "form-control" ng-model = "user.curCalendar	">
				<option ng-repeat = "cal in calendars" value = "{{cal.name}}">{{cal.name}}</option>
			</select>
			<br>
			<button class = "btn btn-primary" ng-click = "updateUser()">Update!</button>
		</div>
		<div class = "well">
			<label>New Calendar</label><br>
			<label class="label label-default">New Calendar Name</label>
			<input type="text" name="calName" class = "form-control" ng-model = "calName"/><br>
			<button class = "btn btn-primary" ng-click = "createCal()">Create Calendar</button>
		</div>
		<div class = "well">

			<label class = "label label-default">{{calendar.name}} Calendar Users</label>
			
			<div ng-repeat = "user in calendar.users" class = "user bg-info">
				{{user}}
				<span class = "glyphicon glyphicon-remove-circle fRight remove" ng-click = "removeUser($index)"></span>
			</div>
			
			<label class = "label label-default">New User</label>
			<input type="email" name="" class = "form-control" ng-model = "newCalUser">
			<br>
			<button class = "btn btn-success" ng-click = "updateCalUsers()">Update Calendar Users</button>

		</div>
	</div>
</div>    	